#container {
    width: 1024px;
    margin: 0 auto;
    text-align: center;
}

#left-panel {
  float: left;
}

#board {
  float: left;
}

.cell {
  width: 50px;
  height: 50px;
}

.color-panel {
  float: left;
  border: 2px solid #A7C8E2;
  margin: 4px 3px;
  padding: 10px;
  width: 212px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.submit-button {
  display: block;
  clear: both;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  background-color: #7030a0;
  color: white;
  font-weight: bold;
}
